# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Environment variables
.env

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Large data files
data/
*.csv

# Large model files
*.pkl

